#header {
    background-color: #ffffff;
    box-shadow: 1px 1px 8px #cfcfcf;
}

#header .navbar-brand {
    font-weight: bold;
    text-transform: uppercase;
}

#header .nav-item .nav-link {
    padding: 20px;
}